*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
}

.header {
  background: linear-gradient(to right, #00f260, #0575e6);
  height: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header h1 {
  font-size: 50px;
  transition: 1s;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #00f, #f00);
  animation: color-change-reverse forwards;
}

.header h1:hover {
  animation: color-change forwards;
  background: linear-gradient(to right, #f00, #00f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: skewY(-5deg);
}

.text-container {
  position: relative;
  height: 50px;
  overflow: hidden;
}

.header p {
  font-size: 20px;
}

.header-container {
  position: relative;
}

.header-title:hover ~ .text-container .second-text {
  max-height: 100%;
  transition: max-height 2s ease;
}

.text-container {
  position: relative;
}

.second-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}


.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@keyframes color-change {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes color-change-reverse {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
